<app-header title="Persons" [template]="buttons"></app-header>

<ng-template #buttons>
    <button mat-icon-button (click)="createPerson()">
        <mat-icon>person_add</mat-icon>
    </button>
    <button mat-icon-button (click)="refresh()">
        <mat-icon>refresh</mat-icon>
    </button>
</ng-template>

<div class="flex flex-nowrap">
    <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
            <td mat-cell *matCellDef="let person">
                <div>{{person.id}}</div>  
            </td>
        </ng-container>
        
        <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
            <td mat-cell *matCellDef="let person">
               <div>{{person.firstName}}</div>
            </td>
        </ng-container>

        <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
            <td mat-cell *matCellDef="let person">
                <div>{{person.lastName}}</div>
            </td>
        </ng-container>

        <ng-container matColumnDef="country.name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Country </th>
            <td mat-cell *matCellDef="let person">
                <div>{{person.country?.name}}</div>
            </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let person">
                <div>
                    <div *ngIf="person.id">
                        <button appDialog (click)="updatePerson(person.id);"
                            type="button">
                            <i class="fas fa-edit"></i>
                        </button>
                        <button appDialog (click)="deletePerson(person.id)" *ngIf="auth.hasRoles(['manage-account', 'admin']) | async"
                            type="button">
                            <i class="fas fa-trash"></i>
                        </button>
                    </div>
                </div>
            </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let person; columns: displayedColumns;" (click)="getPerson(person.id)"
            [ngClass]="{'table-loading': isLoading$ | async, 'highlight': selected.id && selected.id == person.id}">
        </tr>
        <tr class="mat-row" *matNoDataRow style="text-align:center">
            <td class="mat-cell" [attr.colspan]="displayedColumns.length">
              No records
            </td>
        </tr>
    </table>
</div>

<mat-paginator [length]="page.totalElements" [pageSizeOptions] = "[5, 10, 25]" [showFirstLastButtons]="true" [pageSize]="page.size" (page)="handlePagination($event)"></mat-paginator>