<app-header title="Persons" [template]="buttons"></app-header>

<ng-template #buttons>
    <button mat-icon-button class="header-icon">
        <mat-icon>person_add</mat-icon>
    </button>
    <button mat-icon-button (click)="refresh()" class="header-icon">
        <mat-icon>refresh</mat-icon>
    </button>
</ng-template>

<div class="flex flex-nowrap">
    <table mat-table [dataSource]="dataSource" matSort  class="w-full">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef class="text-sm" mat-sort-header> No. </th>
            <td mat-cell *matCellDef="let person">
                <div>{{person.id}}</div>  
            </td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef class="text-sm" mat-sort-header> First Name </th>
            <td mat-cell *matCellDef="let person">
               <div>{{person.firstName}}</div>
            </td>
        </ng-container>

        <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef class="text-sm" mat-sort-header> Last Name </th>
            <td mat-cell *matCellDef="let person">
                <div>{{person.lastName}}</div>
            </td>
        </ng-container>

        <ng-container matColumnDef="country">
            <th mat-header-cell *matHeaderCellDef class="text-sm" mat-sort-header> Country </th>
            <td mat-cell *matCellDef="let person">
                <div>{{person.country?.name}}</div>
            </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="text-sm"> </th>
            <td mat-cell *matCellDef="let person">
                <div>
                    <div class="float-right" *ngIf="person.id">
                        <button appDialog (click)="editPerson(person.id);"
                            class="bg-white-500 text-black active:bg-pink-600 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                            type="button">
                            <i class="fas fa-edit"></i>
                        </button>

                        <button appDialog (click)="deletePerson(person.id)" *ngIf="auth.hasRoles(['manage-account', 'admin']) | async"
                            class="bg-white-500 text-black active:bg-pink-600 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                            type="button">
                            <i class="fas fa-trash"></i>
                        </button>
                    </div>
                </div>
            </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let person; columns: displayedColumns;" (click)="getPerson(person.id)"
            [ngClass]="{'table-loading': isLoading$ | async, 'text-sm':true, 'cursor-pointer': !(isLoading$ | async)}"></tr>
        <tr class="mat-row" *matNoDataRow style="text-align:center">
            <td class="mat-cell" [attr.colspan]="displayedColumns.length">
              No records
            </td>
        </tr>
    </table>
</div>
<div class="w-full">
    <mat-paginator [length]="page.totalElements" [pageSizeOptions] = "[5, 10, 25]" [showFirstLastButtons]="true" [pageSize]="page.size" (page)="handlePagination($event)"></mat-paginator>
</div>