/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

button:focus {
    outline: NONE;
}

.mat-row td > div {
  width: 100%;
}

.mat-row:nth-child(even) {
    background-color: #fdfdfd;
}

.mat-row:nth-child(even) div {
    background-color: #fdfdfd;
}

.mat-row:nth-child(odd) {
    background-color: white;
}

.mat-header-cell {
    background: #79adc5;
    color: white;
}

.mat-progress-spinner circle,
.mat-spinner circle {
    stroke: #79adc5;
}

@keyframes table-loading {
    40% {
        background-position: 100% 0;
    }
    100% {
        background-position: 100% 0;
    }
}

table .table-loading {
    position: relative;
    cursor: default;
}

table .table-loading td > div {
    height: 30px;
    width: 80%;
    overflow: hidden;
    margin-left:0;
    margin-right: auto;
    content-visibility: hidden;
}

table .table-loading td > div > * {
    display: none;
}

table .table-loading:nth-of-type(even) td > div {
    background-color: #e7e7e7; 
}

table .table-loading td:after {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    height: 30px;
    background-image: linear-gradient(
        100deg,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.5) 60%,
        rgba(255, 255, 255, 0) 80%
    );
    background-size: 200px 24px;
    background-position: -100px 0;
    background-repeat: no-repeat;
    animation: table-loading 1s infinite;
}
