<h1 mat-dialog-title>Confirmation</h1>
<div mat-dialog-content>Are you sure to perform this action?</div>
<div mat-dialog-actions class="float-right">   
    <button mat-button (click)="confirm()"
        class="bg-white-500 text-black text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
        type="button">
        <i class="fas fa-check-circle"></i> Yes
    </button>
    <button mat-button mat-dialog-close
        class="bg-white-500 text-black text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
        type="button">
        <i class="fas fa-window-close"></i> No
    </button> 
</div>
