<h1 mat-dialog-title>Confirmation</h1>
<div mat-dialog-content>Are you sure to perform this action?</div>
<div mat-dialog-actions class="float-right text-xs text-black">
    <button mat-button (click)="confirm()"
        class="bg-white-500 px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
        type="button">Yes</button>
    <button mat-button mat-dialog-close
        class="bg-white-500 px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
        type="button">No</button>
</div>